.array-container {

    left: 10px;
    right: 20px;
    top: 20px; 
  }
  

  .array-container-bars {
    max-width: 700px;
    margin: auto;

  }
  .array-bar {
    width:30px;
    display: inline-block;
    margin: 0 2px;
  }
  